body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 300px;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  .parent {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.child {
    flex: 1;
    min-width: 300px;
    padding: 20px;
    box-sizing: border-box;
    margin: 5px;
    text-align: center;
}

@media (max-width: 600px) {
    .child {
        min-width: 100%;
    }
}
/* upper part */
*{                              /* "*" is used for all elements in your website*/
  margin:0;               
  padding:0;
  box-sizing: border-box;     /*box sizing: border-box is used to add padding and border in both width and heghts.*/ 

}
body{
  font-family: 'Poppins', sans-serif;
}

.navbar{
  display: flex;
  align-items: center;
  padding: 20px;

}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right:20px;
}
/*for menu links*/
a{
  text-decoration: none;
  color:#555;
}
p{
  color:#555;
}
.container{
  max-width: 1300px;/*width of the header section will not be more than 1300px*/
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #45a049;
}
/*dividing text and image in haif*/
.row{
  display: flex;/*flexible content*/
  align-items: center;
  flex-wrap: wrap;/*wrap place single line or multi lines in given space.*/ 
  justify-content: space-around;/*"Display the flex items with space before, between, and after the lines:"*/
}
.col-2{
  flex-basis: 50%;/*divide it into haif*/
  min-width: 300px;
}
.col-2 img{
  max-width: 100%;/*should not be more than 100%*/
  padding: 50px 0px;/*top bottom 50, left right 0*/
}
.col-2 h1{
  font-size: 50px;
  line-height: 60px;
  margin: 25px;
  color: aliceblue;
}
.col-2 p{
  margin-left:25px;
  color: aliceblue;

}

/*design header button explore now*/
.btn{
  display: inline-block;
  background-color: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  margin-left: 25px;
  border-radius: 30px;
  transition: background 0.5s;/*below I have specified the change in button color when hover. this transition will delay color change by 0.5 sec*/
}
.btn:hover{
  background: #563434;
}